<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="BaoCaoLuong2018.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<connectionStrings>
    <add name="BaoCaoLuong2018.Properties.Settings.BaoCaoLuong2018ConnectionString"
        connectionString="Data Source=192.168.165.10;Initial Catalog=BaoCaoLuong2018;Persist Security Info=True;User ID=sa;Password=BPO@DN#2013"
        providerName="System.Data.SqlClient" />
    <add name="BaoCaoLuong2018.Properties.Settings.DatabaseDataEntryBPOConnectionString"
        connectionString="Data Source=192.168.165.10;Initial Catalog=DatabaseDataEntryBPO;Persist Security Info=True;User ID=sa;Password=BPO@DN#2013"
        providerName="System.Data.SqlClient" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <BaoCaoLuong2018.Properties.Settings>
            <setting name="Server" serializeAs="String">
                <value />
            </setting>
            <setting name="ApplicationSkinName" serializeAs="String">
                <value />
            </setting>
            <setting name="PositionSplitMain" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="ZoomImage" serializeAs="String">
                <value>52</value>
            </setting>
            <setting name="Check" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="username" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="City" serializeAs="String">
                <value />
            </setting>
            <setting name="BatchID" serializeAs="String">
                <value />
            </setting>
            <setting name="ImageID" serializeAs="String">
                <value />
            </setting>
            <setting name="UserInput" serializeAs="String">
                <value />
            </setting>
            <setting name="QC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Truong18" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong19" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong21" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong22" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong23" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong24" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong25" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong26" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong27" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong15" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong16" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong17" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong20" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong28" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong30" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong31" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong32" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong33" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong34" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong35" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong36" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong37" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong38" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong39" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong40" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong41" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong42" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong43" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong44" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong45" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong46" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong47" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong48" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong49" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong50" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong51" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong52" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong53" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong54" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong55" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong56" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong57" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong58" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong59" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong60" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong61_1" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong62" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong63" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong64" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong65" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong66" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong67" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong68" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong69" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong70" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong71" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong72" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong73" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong74" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong75" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong76" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong77" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong78" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong79" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong80" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong81" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong82" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong83" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong84" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong85" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong86" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong87" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong88" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong89" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong90" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong91" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong92" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong93" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong94" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong95" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong96" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong97" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong98" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong99" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong100" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong101" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong102" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong103" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong104" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong105" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong106" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong107" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong108" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong109" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong110" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong111" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong112" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong61_2" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong61_3" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong61_4" serializeAs="String">
                <value />
            </setting>
            <setting name="LoaiPhieu" serializeAs="String">
                <value />
            </setting>
            <setting name="PositionSplitCheck" serializeAs="String">
                <value>200</value>
            </setting>
        </BaoCaoLuong2018.Properties.Settings>
    </userSettings>
</configuration>
